<%- include("partials/header") %>

<main role="main" class="inner cover">
    <h1 class="cover-heading">Bienvenido a Questions & Answer.</h1>
    <p class="lead">Una comunidad hecha para compartir conocimiento. ¿Tienes alguna pregunta o quieres compartir una respuesta? registrate y publica. Aprendamos todos juntos!</p>
    <p class="lead">
      <a href="/logIn" class="btn btn-lg btn-secondary botones">Iniciar Sesión</a>
    </p>
    <p class="lead">
        <a href="/signUp" class="btn btn-lg btn-secondary botones">Registrarse</a>
    </p>
    <p class="lead">
        <a href="/guest" class="btn btn-lg btn-secondary botones">Continuar como invitado</a>
    </p> 
</main>

<%- include("partials/footer") %>